// main: cardinal.less
/*! OWRugs styles follow */
/* ================================================================== *\
   Main ($main)
\* ================================================================== */


/* Page... */
body {
    position: relative;
    .wrapper;
}
/* ...Page */


/* Header... */
header {
    .grid;
}
header > * {
    margin: 10px 0;
}
header .grid-item:last-of-type {
    text-align: right;
}
/* ...Header */


/* Main-nav... */
nav#main-nav {
    background-color: @white;
    display: none;
    padding: 8px;
    position: absolute;
    right: 0;
    z-index: 1;
}
nav#main-nav ul li {
    background-color: @green-light;
    margin-bottom: 4px;
}
nav#main-nav ul li:active {
    background-color: @green-dark;
}
nav#main-nav ul li:last-child {
    margin-bottom: 0;
}
nav#main-nav ul li a {
    color: inherit;
    display: block;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
}
nav#main-nav #nav-site {
    font-weight: bold;
}
/* ...Main-nav */


/* Mains (pages)... */
main {
    .grid;
}
main:not(:first-of-type) {
    display: none;
}

/* Home page... */
main#page-home figure {
    position: relative;
    overflow-x: hidden;
}
main#page-home figure picture:not(:first-of-type) {
    display: none;
}
main#page-home figure button#main-img-prev,
main#page-home figure button#main-img-next {
    background-color: rgba(255, 255, 255, 0.8);
    background-position: center;
    background-repeat: no-repeat;
    font-size: 8em;
    height: 80px;
    width: 50px;
    line-height: 1;
    margin-top: -40px;
    padding: 0 8px;
    position: absolute;
    top: 50%;
}
main#page-home figure button#main-img-prev {
    background-image: url('../img/big-arrow-left.png');
    left: @grid-gutter;
}
main#page-home figure button#main-img-next {
    background-image: url('../img/big-arrow-right.png');
    right: 0;
}
/* ...Home page */


/* Search page... */
main#page-search #filter-button img.icon{
    height: @button-small-font-size;
}
main#page-search .search-item {
    margin-bottom: 15px;
    display: block;
}
main#page-search .search-item:active {
    -webkit-animation: tap 1s ease-out;
    animation: tap 1s ease-out;
}
    @-webkit-keyframes tap {
        50% {background: @green-light;}
    }
    @keyframes tap {
        50% {background: @green-light;}
    }
main#page-search #search-controls * {
    .h4;
    display: inline;
    vertical-align: baseline;
}
main#page-search #search-controls-pages {
    margin: 0 15px;
}
main#page-search #search-controls-select {
    width: auto;
}
/* ...Search page */

/* ...Mains (pages) */


/* Footer... */
footer {
    .grid;
    margin-top: 5px;
}
footer ul.accordion {
    .grid-item;
    .one-whole;
    margin-bottom: 5px;
}
footer ul.accordion li:first-child {
    background-color: @green-light;
    font-weight: bold;
    padding-bottom: 8px;
    padding-top: 8px;
}
footer ul.accordion li {
    background-color: @green-light;
    margin-bottom: 4px;
    text-transform: uppercase;
}
footer ul.accordion li:last-child {
    margin-bottom: 0;
}
footer ul.accordion li:active,
footer ul.accordion-open li {
    background-color: @green-dark;
}
footer ul.accordion li a {
    color: inherit;
    display: block;
    padding-bottom: 8px;
    padding-top: 8px;
    text-decoration: none;
}
/* ...Footer */
