// main: cardinal.less
/*! OWRugs styles follow */
/* ================================================================== *\
   Main ($main)
\* ================================================================== */

/* Body sections... */
body {
    max-width: @total-width*((((@gutter-width+@column-width)*4)-@gutter-width) / @gridsystem-width);
}
body > * {
    margin-bottom: @gutter-width*0.5px !important;
    margin-top: @gutter-width*0.5px !important;
}
header, main, footer {
    .column(4);
}
/* ...Body sections */


/* Header... */
header #logo img {
    height: 30px;
}
header #menu {
    float: right;
}
nav {
    display: none;
    text-align: justify;
}
nav * {
    display: inline;
}
nav li {
    display: inline-block;
}
nav li a {
    .h6;
    cursor: pointer;
    display: inline-block;
    text-transform: lowercase !important;
}
nav hr {
    background-image: -webkit-linear-gradient(left, rgba(242,242,242,0.3), rgba(242,242,242,1), rgba(242,242,242,0.3));
    background-image: -moz-linear-gradient(left, rgba(242,242,242,0.3), rgba(242,242,242,1), rgba(242,242,242,0.3));
    background-image: -ms-linear-gradient(left, rgba(242,242,242,0.3), rgba(242,242,242,1), rgba(242,242,242,0.3));
    border: 0;
    display: inline-block;
    height: 5px;
    margin: 0;
    vertical-align: top;
    width: 100%;
}
header .inline-form {
    display: none;
}
.inline-form input {
    flex: auto;
    padding-bottom: initial;
    padding-top: initial;
    width: 50px;
}
.category-search-box {
    display: none;
    max-width: 100%;
    table-layout: fixed;
}
.category-search-box td {
    display: block;
    margin-top: @base-font-size;
    padding: 0;
}
/* ...Header */


/* Mains (pages)... */

/* ...Mains (pages) */


/* Footer... */
footer > div > * {
    margin-bottom: 5px;
    padding: 0;
}
footer .inline-form input {
    width: 50px;
}
footer ul {
    padding-left: 0;
}
footer ul li {
    background-color: @gray;
    list-style: none;
    margin-bottom: 4px;
    padding-left: @base-font-size * 2;
}
footer ul li:first-child {
    .h5;
    background-image: url('../img/accordion-arrow-closed.png');
    background-position: 1% 50%;
    background-repeat: no-repeat;
    background-size: @base-font-size;
    cursor: pointer;
    line-height: inherit;
    margin: inherit;
    padding-bottom: 8px;
    padding-top: 8px;
}
footer ul li:last-child {
    margin-bottom: 0;
}
footer ul li a {
    color: inherit;
    display: block;
    text-decoration: none;
}
footer ul.accordion > * {
    padding-left: @base-font-size * 2;
}
footer ul.accordion-open li:not(:first-child) {
    background-color: @gray-light;
}
footer ul.accordion li a {
    padding-bottom: 8px;
    padding-top: 8px;
}
/* ...Footer */


/* Media queries... */
@media only screen and (min-width: @grid-breakpoint-medium) {
    .only-mobile {
        display: none !important;
    }
    body {
        max-width: @grid-breakpoint-medium;
    }
    header, main, footer {
        .column(8);
    }
    header > div {
        .row(8);
    }
        header #logo {
            .column(3, 8);
        }
            header #logo img {
                height: auto;
            }
        header nav {
            .column(5, 8);
            display: initial;
        }
        header .inline-form {
            .column(4);
            display: flex;
            max-height: 550px;
            overflow-y: auto;
        }
    footer > div {
        .row(8);
    }
        footer ul {
            .column(2, 8);
            padding: 0;
        }
        footer .accordion > *:first-child {
            background: none;
            cursor: initial;
            margin: 0;
            padding: 0;
        }
        footer .accordion > *:not(:first-child) {
            background: none;
            display: inherit;
            margin: 0;
            padding: 0;
        }
        footer ul.accordion-open li:not(:first-child) {
            background: none;
        }
        footer .accordion li a {
            padding: 0 !important;
        }
}

@media only screen and (min-width: @grid-breakpoint-large) {
    body {
        max-width: @grid-breakpoint-large;
    }
    header, main, footer {
        .column(12);
    }
    header > div {
        .row(12);
    }
        header #logo {
            .column(5, 12);
        }
        header nav {
            .column(7, 12);
        }
        header nav a {
            .h2;
        }
        header .inline-form:first-child {
            .column(4);
            display: flex;
        }
        header .inline-form:last-child {
            .column(3);
            display: flex;
        }
    main.main-static {
        .column(8);
        .push(2);
    }
    footer > div {
        .row(12);
    }
        footer ul {
            .column(3, 12);
            padding: 0;
        }
}
/* ...Media queries */
