// main: cardinal.less

/* Accordion... */
.accordion > * {
    list-style: none;
}
.accordion > *:first-child {
    cursor: pointer;
    background-image: url('../img/accordion-arrow-closed.png');
    background-position: 1% 50%;
    background-repeat: no-repeat;
    background-size: @base-font-size;
    padding-left: @base-font-size * 2;
}
.accordion > *:not(:first-child) {
    display: none;
}
.accordion-open > *:first-child {
    background-image: url('../img/accordion-arrow-open.png');
}
/* ...Accordion */


/* Icons... */
.icon, [class^="icon_"] {
    display: inline-block;
    max-height: @base-line-height;
    margin: 0 3px;
}
/* ...Icons */


/* Figure... */
figure {
    position: relative;
    overflow-x: hidden;
}
figure picture:not(:first-of-type) {
    display: none;
}
figure button.figure-prev,
figure button.figure-next {
    background-color: rgba(255, 255, 255, 0.8);
    background-position: center;
    background-repeat: no-repeat;
    font-size: 8em;
    height: 80px;
    line-height: 1;
    margin-top: -40px;
    padding: 0 8px;
    position: absolute;
    top: 50%;
    width: 50px;
}
figure button.figure-prev {
    background-image: url('../img/big-arrow-left.png');
    left: @gutter-width;
}
figure button.figure-next {
    background-image: url('../img/big-arrow-right.png');
    right: 0;
}
/* ...Figure */

/* Picture... */
picture {
    display: block;
    position: relative;
}
picture img {
    width: 100%;
}
/* ...Picture */
